// overrirde default styles

//custom scrollbar
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar:horizontal {
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-white-100);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
